<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
<h3>Home Page</h3>
<p>Esta aqui é a pagina inicial com uma breve introdução</p>
<p>teste</p>
<div>sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
    sdasdasd<br>
</div>


{% endblock %}