<!DOCTYPE html>
<html lang="pt">
<html>

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    <title>Portfolio</title>
</head>

<body>
    <header>
        <div>Cláudio Costa</div>
        <nav class="top-nav-bar" role="navigation">
            <div class="nav-button">
                <a href="{% url 'portfolio:home' %}">home</a>
            </div>
            <div class="nav-button">
                <a href="{% url 'portfolio:licenciatura' %}">licenciatura</a>
            </div>
            <div class="nav-button">
                <a href="">about</a>
            </div>
            <div class="nav-button">
                <a href="">contact</a>
            </div>
        </nav>
    </header>
    <section class="top-image">
        {% load static %}
        <img src="{% static 'portfolio/images/background-header.jpeg' %}">
    </section>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>ULHT, 2022</footer>
</body>

</html>