{% extends 'portfolio/layout.html' %}
{% block header %}
<div class="welcome-text">Projetos</div>
{% endblock %}
{% block main %}
{% for project in projects %}
<h2>Ano: {{project.year}} </h2>
<div class="subjects-box">
    <div class="subject-image">

    </div>
    <div class="subjects-text">
        <h3>{{project.title}} | ano letivo: {{project.year}}</h3>
        <p>Topicos abordados:{{project.description}}</p>
        <p>Participantes: {{project.participants}}</p>
        {% for student in cadeira.students.all %}
        {% endfor %}
        <p>skills: {{project.skills}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}