* {
  background-color: lightblue;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-body {
  grid-area: main;
}

.top-bar {
  grid-area: nav;
  background-color: red;
}

.top-nav-bar {
  background: url("/static/portfolio/images/hero-image.png");
  display: flex;
  justify-content: flex-end;
  height: 330px;
  padding-top: 100px;
}

.bottom {
  grid-area: bot;
}

.page-layout {
  display: grid;
  grid-template-areas:
    'nav nav nav nav nav nav'
    'main main main main main main'
    'bot bot bot bot bot bot';
}

.nav-button {
  height: 10px;
  font-weight: bold;
}

.top-nav-bar a {
  box-shadow: inset 0 0 0 0 grey;
  font-size: 20px;
  color: white;
  margin: 5px;
  padding: 5px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

.top-nav-bar a:hover {
  box-shadow: inset 150px 0 0 0 grey;
  background-color: grey;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  padding: 0 1vw;
  align-items: center;
}