* {
    padding: 0; 
    margin: 0;
    background-color: black;
    box-sizing:border-box;
    font-family: sans-serif;
  }
  
  header {
    height: 15vh; 
    opacity: 1;
    top: 0;  
    
    /* alinhando logo e menu */
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }

.top-image{
  background-image: url("static/portfolio/images/background-header.jpeg");
    height: 480px;
    padding-top: 195px;
  }
  
  header div {
    font-size: 2em;  
    padding: 1em;
  }
  
  header nav {
    display:flex;
    height: 15vh;
    justify-content: flex-end;  
  }
    
  .top-nav-bar a {
    box-shadow: inset 0 0 0 0 grey;
    font-size: 20px;
    color: white;
    margin: 5px;
    padding: 5px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
  }

  .top-nav-bar a:hover{
    box-shadow: inset 150px 0 0 0 grey;
    background-color: grey;
  }
  
  
  main {
    height: 85vh;
    background-color:grey;
    padding: 4em 4em;
  }
  
  footer {
    height:5vh;
    display:flex;
    justify-content: flex-end;
    padding: 0 1vw;
    align-items: center;
  }